<!DOCTYPE html>
<html lang="es"></html>
<html>
  <head>
    
    <%- include('partials/head'); %>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
   
  </head>
  <body>
    <%- include('partials/navbar'); %>
    <h1>Acerca de Benjamin Ramirez Bolaños</h1>

    <div class="card" style="width: 18rem;">
      <img src="/images/imagen.jpg" class="card-img-top" width="500" height="300">
      <div class="card-body">
        <p class="card-text">Hola Yo soy Benjamin Ramirez Bolaños del Grupo GDS0241 y el desarrollo de este trabajo me parece muy interesante</p>
      </div>
    </div>
    <table id="table_id" class="display">
      <tbody>
        <% if(data.length > 0){ %>
        <% for ( var i = 0 ; i < data.length ; i++){ %>
        <tr>
          <td>
            <%= data[i].IdVideojuego%>
          </td>
          <td>
            <%= data[i].Nombre%>
          </td>
          <td>
            <%= data[i].Genero%>
          </td>
          <td>
            <%= data[i].Duracion%>
          </td>
          <td>
            <%= data[i].Plataforma%>
          </td>
          <td>&nbsp;</td>
  
        </tr>
        <% } %>
        <% } %>
      </tbody>
    </table>
  
    
    <%- include('partials/footer'); %>
    <%- include('partials/script'); %>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

<script src="/public/javascripts/videojuegos.js"></script>
</body>
</html>